# Logs
logs/app_log

# Virtual Environments
venv/

# Byte-compiled / Cached files
**/__pycache__/

# IDE Specific Files
.idea/

# Audio Output
audio/output/audio.wav
audio/output/models/

# Configuration Files
private_config.yaml
private_commands.yaml

# Local Testing Files
test.py
test2.py
test
commit.txt
do.txt
scripts/py/post_commit.session
#scripts/py/add_command.py
#post_commit.session-journal

# Data Files
data/grammar/
.cache/*

# Development Files
dev/voice_activity.py
api/audio.py

# Include Directory
include/

plugins/*
!plugins/core/
!plugins/gpt/

