ytmusicapi==1.8.2
icalendar==6.0.1
numpy==1.26.4
g4f~=0.3.3.1
playsound~=1.3.0
flet~=0.24.1
pyautogui~=0.9.54
PyAudio~=0.2.14
vosk~=0.3.45
voicesynth~=0.2.3
PyYAML~=6.0.2
requests~=2.32.3
num2words~=0.5.13
matplotlib~=3.9.2
pynput~=1.7.7
plyer~=2.1.0
opencv-python~=4.10.0.84
mediapipe~=0.10.15